#saxo>svg{
    z-index: -10;
}
#drum0>svg{
    z-index: -8;
}
#drum1>svg{
    z-index: -8;
}
#drum2>svg{
    z-index: -8;
}
#piano>svg{
    z-index: -6;
}
#cello>svg{
    z-index: -4;
}
svg{
    scale: 70%;
    position: absolute;
    top:100px;
    right : 0px;
}
#spotlight_Saxo{
    scale: 43%;
    position:absolute;
    top:-750px;
    right: -830px;
    /* right: -900px; */
    z-index: -9;
    /* display: none; */
}
#spotlight_Drum{
    position:absolute;
    scale: 42%;
    top:-750px;
    right: -430px;
    /* right: -495px; */
    z-index: -7;
    /* display: none; */
}
#spotlight_Cello{
    position:absolute;
    scale: 40%;
    top:-750px;
    right: -630px;
    z-index: 5;
    /* display: none; */
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 2000px; /*展場使用873px*/
    background-image: url('../bg_img1.jpg');
    background-color: black;
}

body::-webkit-scrollbar {
    display: none;
}