#piano {
    height: 1080px;
}

svg{
    position: absolute;
    top: 0px;
    right : 0px;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* background-size: cover;  */
    background-size: 1300px;
    background-image: url('../bg_img1.jpg');
    background-color: black;
    /* background-position: 300px; */
}

body::-webkit-scrollbar {
    display: none;
}